name: Run RDS on AWS 
run-name: ${{inputs.action}}


on:
 workflow_dispatch:
    inputs:
      action:
        description: 'Please Select The Command To Run { plan , apply, destroy }'
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy
permissions:
  contents: read

jobs:
 deploy:
    name: Deploy on AWS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
          
      - name: setup Terraform
        uses: hashicorp/setup-terraform@v3
        
      - name: Terraform Init
        run: terraform init  

      - name: Terraform plan
        if: ${{ inputs.action == 'plan' }}
        run: terraform plan

      - name: Terraform apply
        if: ${{ inputs.action == 'apply' }}
        run: terraform apply     
      
      - name: Terraform destroy
        if: ${{ inputs.action == 'destroy' }}
        run: terraform destroy     
      
